*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("/babeque.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
}
